@import "node_modules/azure-devops-ui/Core/_platformCommon.scss";
@import "node_modules/azure-devops-ui/Core/override.scss";


.sample-form-section {
    margin-top: 20px;
}

.table-example {
    min-width: 500px;
}

.bolt-table-card {
    width: 100%;
}

.wrap-text {
    white-space: break-spaces;
    word-break: break-all;
}