//@use "/node_modules/azure-devops-ui/Core/_platformCommon.scss" as devops;
@use "/node_modules/azure-devops-ui/Core/override.scss" as devops;

#root {
    height: 100%;
    width: 100%;
    display: flex;
}

body {
    background-color: rgba(248,248,248,1);
}

.page-content {
    background-color: rgba(255,255,255,1);
}

.sample-form-section {
    margin-top: 20px;
}

.table-example {
    min-width: 500px;
}

.bolt-table-card {
    width: 100%;
}

.wrap-text {
    white-space: break-spaces;
    word-break: break-all;
}

.valign-middle {
    vertical-align: middle;
}

.floatright {
    display: flex;
    align-items: center;
    column-gap: 5px;
}